@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --cor-branco:#f2f2f2; 
  --cor-cinza: #737373; 
  --cor-preto: #151515; 
  --cor-prata: #a5a5a5; 
  --cor-cinzaescuro: #424242;
  --cor-dourada: #c0a16b;
  }

body{
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}
::-webkit-scrollbar {
  width: 0;
}

.menu {
  background-color: transparent; 
  padding: 20px;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #15151579;
}

.menu-itens {
  list-style: none;
  text-align: center;
}

.menu-itens li {
  display: inline;
  margin-right: 20px;
}

.menu-itens a {
  text-decoration: none;
  color: var(--cor-branco); 
  font-weight: bold;
  padding: 10px;
  border: 2px solid transparent; 
  border-radius: 5px; 
  transition: border-color 0.5s ease, color 0.5s ease; 
}

.menu-itens a:hover {
  border-color: var(--cor-branco); 
  color: var(--cor-dourada); 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#home{
  width: 100vw;
  height: 100vh;
  background-image: url(media/imagemfinalizada.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.texto-home {
  color: var(--cor-branco); 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  height: 100vh;
  width: 50%;
  box-sizing: border-box; 
  padding: 20px; 
  text-align: center; 
}
  
.texto-home h1{
  font-family: 'Dancing Script', cursive;
  margin: 10px 0; 
  font-size: 60px;
}
.texto-home p {
  margin: 10px 0; 
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 2px solid var(--cor-dourada);
  color: var(--cor-dourada);
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}
  
 
.button:hover {
  box-shadow: 0 0 10px var(--cor-dourada);
  color: var(--cor-dourada);
  border-color: var(--cor-dourada);
}

/*SOBRE*/
#sobre{
  height: 100vh;
  width: 100vw;
}
.sobre-mim {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  text-align: justify;
  background-image: url(media/background.png);
  background-size: cover;
  background-attachment: fixed;
  color: var(--cor-preto);
  width: 100%;
}

.about-text {
  padding: 20px;
  background-color: #737373a4;
  text-align: justify;
  max-width: 700px;
  margin: 0 auto;
  color: var(--cor-branco);
  font-size: 16px; 
  line-height: 1.6; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.603);
}

.about-text > h2{
  border-bottom: 1px solid var(--cor-preto);
}
.paragrafo{
  font-size: 18px;
  color: var(--cor-branco);
}

.imagem-sobre{
  width: 50%;
  height: 50%;
}

/*TRABALHOS*/

#trabalhos {
  text-align: center;
  padding: 25px;
  min-height: 100vh;
}

.category-buttons {
  margin-bottom: 30px;
}

.category-button {
  padding: 15px 30px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  background-color: var(--cor-cinzaescuro);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px;
  letter-spacing: 1px;
  transition: background-color 0.3s;
}
.active{
  background-color: var(--cor-prata);
}

.category-button:hover {
  background-color: var(--cor-dourada);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.384);
  transition: transform 0.3s;
  margin-bottom: 20px;
}

.gallery-img:hover {
  transform: scale(1.05);
}

/*CONTATO*/

#contato{
  width: 100vw;
  height: 100vh;
  background-image: url(media/background.png);
  background-size: cover;
  background-attachment: fixed;
}
.principal-contato{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 30px;
}

.principal-contato > img{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 10px;
}

.texto {
  text-align: center;
  padding: 50px 10px;
  background-color: #f7f7f7;
  border-radius: 10px;
  
}

.texto h2 {
  font-size: 36px;
  color: var(--cor-cinzaescuro);
  margin-bottom: 20px;
}

.texto p {
  font-size: 18px;
  color: var(--cor-preto);
}

.redes-sociais {
  margin: 30px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.icone-redes {
  font-size: 30px;
  margin: 0 10px;
  color: var(--cor-preto);
  text-decoration: none;
}

.icone-redes:hover {
  color: var(--cor-dourada);
}

#rodape {
  background-color: rgba(0, 0, 0, 0.801);
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
}

#rodape p {
  margin: 0;
}

#rodape a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#rodape a:hover {
  text-decoration: underline;
}

/*RESPONSIVO*/

@media (max-width: 768px) {
  .texto-home {
    width: 100%;
    padding: 20px;
  }

  .texto-home h1 {
    font-size: 40px;
  }

  .about-text {
    max-width: 100%;
  }

  .imagem-sobre {
    width: 100%;
    margin-bottom: 20px;
  }

  .sobre-mim {
    flex-direction: column;
  }

  #trabalhos .category-button {
    font-size: 14px;
    padding: 10px 15px;
  }
}

/* Estilo para telas menores que 480px (smartphones) */
@media (max-width: 768px) {
  .texto-home {
    width: 100%;
    padding: 20px;
  }

  .texto-home h1 {
    font-size: 40px;
  }

  .about-text {
    max-width: 100%;
  }

  .imagem-sobre {
   width: 200px;
   height: auto;
  }

  .principal-contato{
    flex-direction: column;
  }
  .principal-contato > img{
    width: 150px;
    height: auto;
  }

  #trabalhos .category-button {
    font-size: 14px;
    padding: 10px 15px;
  }
}

/* Estilo para telas menores que 480px (smartphones) */
@media (max-width: 480px) {
  .texto-home h1 {
    font-size: 32px;
  }

  .texto-home p,
  .about-text,
  .paragrafo {
    font-size: 14px;
  }

  .imagem-sobre {
    display: none;
  }

  .gallery-img,
  #trabalhos .category-button {
    margin-bottom: 10px;
  }

  #contato {
    padding: 30px 10px;
    
  }
  .principal-contato{
    flex-direction: column;
  }
  .principal-contato > img{
    width: 150px;
    height: auto;
  }
  .texto h2 {
    font-size: 28px;
  }

  .texto p,
  .redes-sociais {
    margin: 15px;
  }

  .icone-redes {
    font-size: 24px;
    margin: 0 5px;
  }

 
}