@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-branco:#ffffff; 
    --cor-cinza: #333333; 
    --cor-preto: #000000; 
    --cor-prata: #c0c0c0; 
    --cor-azul:  #2335D1;
 
  }

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.menu {
    background-color: transparent; /* Fundo transparente */
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.menu-itens {
    list-style: none;
    text-align: center;
}

.menu-itens li {
    display: inline;
    margin-right: 20px;
}

.menu-itens a {
    text-decoration: none;
    color: var(--cor-azul); 
    font-weight: bold;
    padding: 10px;
    border: 2px solid transparent; 
    border-radius: 5px; 
    transition: border-color 0.5s ease, color 0.5s ease; 
}

.menu-itens a:hover {
    border-color: var(--cor-azul); 
    color: #34495e; 
}

#home{
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(51,51,51,1) 100%);
}

.img-home {
    display: flex;
    height: 100%; 
    width: 50%; 
    float: right;
}

.texto-home {
    color: var(--cor-branco); 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
    width: 50%;
    float: left; 
    box-sizing: border-box; 
    padding: 20px; 
    text-align: center; 
  }
  
  .texto-home h1{
    font-family: 'Dancing Script', cursive;
    margin: 10px 0; 
    font-size: 60px;
  }
  .texto-home p {

    margin: 10px 0; 
  }

  .botao-azul {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff; 
    background-color: var(--cor-azul); 
    border: 2px solid var(--cor-prata); 
    border-radius: 5px; 
    text-decoration: none; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .botao-azul:hover {
    background-color: #fff; 
    color: var(--cor-azul); 
  }
  